

/* =====    MAIN and LAYOUT STYLES    ===== */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
    color: inherit;
}
h2 {
    text-transform: uppercase;
    font-family: 'Oxygen Mono', monospace;
    font-weight: 400;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font: 22px 'Inconsolata', monospace;
    color: #3a4c5f;
    letter-spacing: 5px;
  }

  p {
    font-family: 'Inconsolata', monospace; 
    text-align: center;
  }

  hr {
      width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(58, 76, 95,0), rgb(58, 76, 95,0.75), rgb(58, 76, 95,0));

  }

.parallax {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
  
/* =====    HEADER     ===== */
.header {
  display: flex;
  /* border: 1px solid green; */
  width: 100%;
  height: 45px;
  background-color: rgba(93, 115, 121, 0.623);
  padding-bottom: 5px;
  }


/* =====    NAVIGATION   ===== */
.topnav {
  /* border: 1px solid red; */
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.topnav a {
  color: #223046;
  padding: 0 10px 0 10px;
}

.topnav a:hover, a:active {
  color: #dddddd;
}

.topnav li {
  display: inline;
  padding: 2px;
  font-family: 'Oxygen Mono', monospace;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.90em;
}

  .caption {
    text-align: center;
    width: 100%;
    color: #3a4c5f;
    letter-spacing: 10px;
  }

  .caption h2 {
      font-size: 1.48em;
  }
  .caption p {
      font-size: 1.18em;
  }

  .headline {
    font-style: italic;
  }
    
  /*-----     Background-IMAGES    -----*/
  
  .first-image {
    height: 75%;
     background-image: url(../img/headerimgsml.jpg); 
  }
  
  .second-image {
    background-image: url(../img/second-img.jpg);
    height: 280px;
  }
  
  .third-image {
    background-image: url(../img/third-img.jpg);
    height: 280px;
  }

  .fourth-image {
    background-image: url(../img/fourth-img.jpg);
    height: 280px;
  }


/*-----    Content    -----*/
.content-first, .content-third {
  /* border: 1px solid green; */
  background-color: white;
  padding: 40px 50px;
}

.content-second, .content-forth {
   /* border: 1px solid red; */
  color: #ddd;
  background-color: #282e34;
  padding: 15px 30px;
}

.content-first h3 {
  margin-top: 0;
}
.content-second h3 {
  color: rgb(221, 221, 221);
  margin-top: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.card {
  height: 120px;
  width: 120px;
  margin: 0 5px 20px 5px;
  background: no-repeat;
  padding-bottom: 5px;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.6s;
}

.contact {
  display: flex;
}

.contact p {
  padding-left: 10px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;

}

.project {
  width: 300px;
  margin: 10px;
  padding: 8px 5px 8px 5px;
  background-color: #bbbbbb;
  border-radius: 4px;
  box-shadow: 0 0 18px 3px rgb(116, 116, 116);
}

.project-img {
  border: 2px solid #ddd;
  border-radius: 4px;
  display: block;
  margin: auto;
  width: 90%;
  height: 200px;
}

.iconlink {
  text-align: center;
  width: 30%;
  margin: auto;

}


/*-----     MEDIA QUERIES     -----*/


/* 320px */

@media (min-width:768px) {

  .parallax {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .first-image {
    
     background-image: url(../img/headerimg.jpg); 
  }

  .contact {
    width: 50%;
  margin: auto;
  }
}


